
 
<form autocomplete="off" action="/upload" method="POST" enctype="multipart/form-data"  >
  
    <legend>{{#f.Title}}{{f.Title}}{{/f.Title}}</legend>
    <div>      
      <input type="file" style="display:none;" id="fileselect" name="file" {{#f.accept}}accept="{{f.accept}}"{{/f.accept}} {{#f.capture}}capture="{{f.capture}}"{{/f.capture}} >
	  <input type="button" id="loadFileXml" value="{{#f.Button}}{{f.Button}}{{/f.Button}}{{^f.Button}}Upload{{/f.Button}}" />
	  <input type="Hidden" id="session" name="session" value="{{Session}}">
      <input type="Hidden" id="cid" name="cid" value="">	  
	  <input type="Hidden" id="pkf" name="pkf" value="">	  
	  <input type="hidden" id="dbid" name="dbid" value="xxx" >
	  
	  <div id="upload_button_hidden" style="display: none;"> 
	  <input type="button" id="submitbutton" value="{{#f.Button}}{{f.Button}}{{/f.Button}}{{^f.Button}}Upload{{/f.Button}}" class="submit-button-login" 
		 onclick="return(AJAXSubmit(event,{{par.2}},{{par.3}}));" >
	  </div>
      <div id="upload_hide" style="display: none;"> 
    <div/><div>Upload progress:<progress id="UploadProgressIndicator" value="0" max="100" ></progress>  
   
    </div>
    <div style="border:1px solid #000; padding:10px; width:200px; height:40px; overflow:auto; background:#eee;" id="divProgress"></div>
	</div>
  
</form>


