<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">



<title>SQL-MVC</title>
<style type="text/css">
body {
	margin:0;
	padding:0;
}
</style>


<link rel="stylesheet" href="/others/qqui1/styles.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/others/qqui1/jquery/jquery-ui.css"/>
<link rel="stylesheet" href="/others/qqui1/uniform/themes/default/css/uniform.default.css" media="screen" />
<link rel="stylesheet" href="/others/qqui1/DataTables/media/css/jquery.dataTables.css" media="screen" />
<link rel="stylesheet" href="/others/qqui1/emoji/emoji.css" type="text/css" />
<link rel="stylesheet" href="/others/qqui1/timepicker/jquery-ui-timepicker-addon.css" type="text/css" />
<style type="text/css" class="init"></style>

<script src="/others/qqui1/jquery/external/jquery/jquery.js"></script>
<script src="/others/qqui1/jquery/jquery-ui.min.js"></script>
<script src="/others/qqui1/SimpleMenu/jquery.menu.js"></script>
<script src="/others/qqui1/timepicker/jquery-ui-sliderAccess.js"></script>
<script src="/others/qqui1/timepicker/jquery-ui-timepicker-addon.js"></script>
<script src="/others/qqui1/uniform/jquery.uniform.min.js"></script>
<script src="/others/qqui1/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="/others/qqui1/emoji/emoji.js"></script>	    
	
<script type="text/javascript" language="javascript" src="/others/zx/zxDeltaScriptFile.js"></script>	
<script type="text/javascript" language="javascript" class="init">

	
</script>
<SocketStream/>
	
</head>

<body >

<div id="PAGE_3" class="zxPage" style="display: none;"> 
      <a href="https://github.com/socketstream/socketstream">
        <img src="/images/logo.png" alt="SocketStream Logo" width="160" height="160">
      </a>
      <h1>Realtime messaging application</h1>
      <form id="RealTimeChatForm" onsubmit="return false">
        <h3>Broadcast room</h3>
        <h5>Type message followed by enter: </h5>
        <div id="chatlog"></div>
        <input id="myMessage" type="text" autocomplete="off">
      </form>
</div>
<div id="PAGE_1" class="zxPage"  xstyle="display: none;">




<!--[if IE]>
<script type="text/javascript">
window.location.href = "ie.html";
</script>
<![endif]-->

<div id="login-wrapper">
	<div id="login-header" class="top-round">
		<div class="login-left">
			<span class="icon-wrap-lb-less"><span class="icon-block-black key-tw-b"></span>SQL-MVC</span>
		</div>
		<div class="login-right">
			<a href="#" title="SQL-MVC"><img src="images/Green_strawberryIconAlpha.png" width="55" height="55" alt="SQL-MVC"></a>
		</div>
	</div>
	<div class="login-box bottom-round">		
		<form id="LoginForm" onsubmit="return false" autocomplete="off">
		
		    <INPUT name=Mac type=hidden>
			<INPUT id="LoginMasked" type=hidden>
			<ul>
				<li><label>Username</label><input id="LoginName" type="text" value="guest" class="login-text-box"  autocomplete="off"></li>
				<li><label>Password</label><input id="LoginInput" type="text" value="gu35t" class="login-text-box usr"  autocomplete="off"></li>
				<li><label>&nbsp;</label><input id="LoginButton" name=Go type="Submit" class="submit-button-login" value="Login" autocomplete="off"></li>				
			</ul>		
		</form>
	</div>
</div>
<div id="footer-wrap">
	<div id="footer">
		<div class="login-footer-container">
			 &copy; 2003 -2015 QualeQuest - All rights reserved
		</div>
	</div>
</div>


  
</div>
<div id="PAGE_2" class="zxPage" style="display: none;">  

<div divout="Frame" id="framecontainer"></div>
<div divout="Standard" id="maincontainer"></div>


</div><!--PAGE_2 -->	
</body>
</html>